a.readon {
background:transparent url(../images/orange/s5_cityportal_readmore.jpg) no-repeat scroll center top;
color:#000000;
display:block;
font-size:11px;
font-weight:normal;
padding:2px 17px 8px 15px;
text-decoration:none;
}

a.readon:hover, a.readon:active, a.readon:focus {
color:#000000;
text-decoration:none;
}

#s5_logo {
background:transparent url(../images/orange/s5_cityportal_logo.png) no-repeat scroll 0 0;
}

#s5_topleftsignup_left {
background:transparent url(../images/orange/s5_cityportal_signup_l.png) no-repeat scroll 0 0;
}

#s5_topleftsignup_left2 {
background:transparent url(../images/orange/s5_cityportal_login_l.png) no-repeat scroll 0 0;
}

.s5_topleftsignup_right {
background:transparent url(../images/orange/s5_cityportal_ls_r.png) no-repeat scroll 0 0;
}

.s5_topleftsignup_middle {
background:transparent url(../images/orange/s5_cityportal_ls_m.png) repeat-x scroll 0 0;
}

.button {
color:#000000;
background:#000000 url(../images/orange/s5_cityportal_buttonb.jpg) repeat-x scroll 0 0;
}

.button:hover, .button:focus {
color:#000000;}


#s5_outerwrap div.module-advert div div {
background:transparent url(../images/orange/s5_cityportal_adtoph3.jpg) repeat-x scroll right top;
}

#s5_outerwrap div.module-advert h3 {
color:#000000;}

.s5_topleftsignup_middle {
	color:#000000;}

/* MAIN MENU
----------------------------------------------------------- */

#s5_navv ul li li.lastitem a:hover {
	background:transparent url(../images/orange/s5_cityportal_backhover.jpg) repeat-x;
	color:#000000; } 

#s5_navv ul li a.parent, #s5_navv ul li ul li a.parent {
    background:transparent url(../images/s5_na_menuhor_arrow.gif) no-repeat scroll 137pt 13pt; }

#s5_navv ul li a.parent:hover, #s5_navv ul li ul li a.parent:hover  {
	color:#000000;	
    background:transparent url(../images/orange/s5_cityportal_backhover.jpg) repeat-x; }

#s5_navv ul li ul li {
    background:transparent url(../images/s5_cityportal_menuback.jpg) repeat scroll 0%; }   
	
#s5_navv ul li ul li:hover {
    background:transparent url(../images/s5_cityportal_menuback.jpg) repeat scroll 0%; }   


#s5_navv li:hover span, #s5_navv li.over span, #s5_fm_ul0 li:hover span, #s5_fm_ul0 li.over span {
	background:transparent url(../images/orange/s5_cityportal_leftactive.jpg) no-repeat scroll 0 10pt;
	color:197px;}

#s5_navv ul li:hover, #s5_navv ul li.over  {
	background:transparent url(../images/orange/s5_cityportal_rightactive.jpg) no-repeat scroll right 10pt;
	color:#000000;}

#s5_navv ul li.active a {
	background:transparent url(../images/orange/s5_cityportal_leftactive.jpg) no-repeat scroll left 1pt;
    color:#000000;}

#s5_navv ul li a:hover, #s5_navv ul li a.over {
	background:transparent url(../images/orange/s5_cityportal_leftactive.jpg) no-repeat scroll left 1pt;
    color:#000000;}
	
	#s5_navv li:hover span a, #s5_navv li.over span a, #s5_fm_ul0 li:hover span a, #s5_fm_ul0 li.over span a {
	color:#000000;}
	
			#s5_navv ul li ul li:hover span span a, #s5_navv ul li ul li.over span span a{
			color:#000000;}
	
			#s5_navv ul li ul li ul li:hover span span a, #s5_navv ul li ul li ul li.over span span a{
				color:#000000;}
				
				#s5_navv ul li ul li ul li ul li:hover span span a, #s5_navv ul li ul li ul li ul li.over span span a{
					color:#000000;}


	
#s5_navv li.active span, #s5_fm_ul0 li.active span.s5_outer_active {
background:transparent url(../images/orange/s5_cityportal_rightactive.jpg) no-repeat scroll right 10pt;
}

#s5_navv span.s5_outer_active span, #s5_fm_ul0 span.s5_outer_active span {
background:transparent url(../images/orange/s5_cityportal_rightactive.jpg) no-repeat scroll right 10pt;
}

#s5_navv ul li.s5_toparrow, #s5_navv ul li.s5_toparrow:hover, #s5_navv ul li.s5_toparrow {
	height:15px;
	margin-top:-7px;
	background:transparent url(../images/s5_cityportal_menutop.jpg) no-repeat scroll 0pt 0;}
	
#s5_navv ul li ul li a:hover, #s5_navv ul li ul li:hover, #s5_navv ul li ul li a.over, #s5_navv ul li ul li.over {
	 background:#FFFFFF url(../images/orange/s5_cityportal_backhover.jpg) repeat-x;
	 width:194px;
	 color:#000000;}



#s5_navv ul li ul li.active a {
	background:none;}

#s5_navv ul li.active ul li a {
	background:none;}