/* MAIN MENU
----------------------------------------------------------- */

#s5_navv a {
     font-family: arial;
     font-weight:bold;
     font-size: 12px;
     text-decoration: none;
     padding-left: 10px;
     padding-right: 10px;
	 padding-top:3px;
	 float:left;
	 margin-top:12px;
	 color:#000000;
     display: block;
     cursor: pointer;
     height:30px;
	 line-height:26px;
     overflow: hidden; }

#s5_navv li li a {
	line-height:35px;
	margin-top:0px;}


#s5_navv li li a {
	height: 30px;}

#s5_navv li li {
     text-align: left;
     width: 194px; }

	* html #s5_navv li li {
		 width: 194px; }
	 
	* html #s5_navv ul li ul li {
		width: 196px; }	 
	 


#s5_navv ul li ul li a {
     font-family: arial;
     font-size:12px; 
	 line-height:27px;
     font-weight: normal; }

#s5_navv ul li a {
    background: none; } 


#s5_navv ul li li.lastitem a:hover {
	background:transparent url(../images/s5_cityportal_backhover.jpg) repeat-x;
	color:#FFFFFF; } 


#s5_navv ul li a.parent, #s5_navv ul li ul li a.parent {
    background:transparent url(../images/s5_na_menuhor_arrow.gif) no-repeat scroll 137pt 13pt; }

#s5_navv ul li a.parent:hover, #s5_navv ul li ul li a.parent:hover  {
	color:#FFFFFF;	
    background:transparent url(../images/s5_cityportal_backhover.jpg) repeat-x; }

#s5_navv ul li ul li {
    background:transparent url(../images/s5_cityportal_menuback.jpg) repeat scroll 0%; }   
	
#s5_navv ul li ul li:hover {
    background:transparent url(../images/s5_cityportal_menuback.jpg) repeat scroll 0%; }   
	 
#s5_navv {
     height: 30px;
     z-index: 3;}

#s5_navv li li a{
	background: none;
	font-weight: normal;
	padding: 0;
	text-indent: 11px;
    z-index: 3;}

#s5_navv, #s5_navv ul {
	float: left;
	list-style: none;
	margin-top: -18px;
	padding: 0;}



#s5_navv li li {
	padding: 0;
	background: none;}

#s5_navv ul ul a {
	display: block;
	text-decoration: none;
	width: 194px;
	text-transform: none;
    z-index: 3;}

* html #s5_navv ul ul a {
	width: 193px;
}


#s5_navv li {
    float: left;
    padding: 0;
	margin-right:7px;
    background: none;
    height: 55px;
    z-index: 3;}
	

#s5_navv li li{
    float: left;
    padding: 0;
    background: none;
    height: 25px;
    z-index: 3;}
	
#s5_navv ul li {
    position: relative;
    z-index: 5;}

#s5_navv li ul {
	top: 59px;
	position: absolute;
	left: -999em;
	height: auto;
	width:  198px;
	border-width: 0;
	margin: 0;
	padding: 0;
    z-index: 3;}



#s5_navv li ul a {
	font-weight: bold;
	color:#000000;
    z-index: 3;}
	
#s5_navv ul {
	padding: 0;
	margin: 0;
    z-index: 3;}

#s5_navv li ul ul {
	width:194px;
	border-top: 1px solid #CCCCCC;
	margin: -59px 0 0 195px;
    z-index: 3;}



#s5_navv li:hover ul ul, 
#s5_navv li:hover ul ul ul,
#s5_navv li:hover ul ul ul ul,  
#s5_navv li.sfhover ul ul, 
#s5_navv li.sfhover ul ul ul, 
#s5_navv li.sfhover ul ul ul ul {
	left: -999em;
        z-index: 3;}

#s5_navv li:hover ul, 
#s5_navv li li:hover ul, 
#s5_navv li li li:hover ul, 
#s5_navv li li li li:hover ul,
#s5_navv li.sfhover ul, 
#s5_navv li li.sfhover ul, 
#s5_navv li li li.sfhover ul,
#s5_navv li li li li.sfhover ul{
	left: 0;
        position: absolute;
        z-index: 3;}


#s5_navv li:hover ul, #s5_navv li.sfhover ul {
	left: 0;
	background-position: 0 0;}

#s5_navv li:hover span, #s5_navv li.over span, #s5_fm_ul0 li:hover span, #s5_fm_ul0 li.over span {
	background:transparent url(../images/s5_cityportal_leftactive.jpg) no-repeat scroll 0 10pt;
	color:197px;}

#s5_navv ul li:hover, #s5_navv ul li.over  {
	background:transparent url(../images/s5_cityportal_rightactive.jpg) no-repeat scroll right 10pt;
	color:#000000;}

#s5_navv li:hover span a, #s5_navv li.over span a, #s5_fm_ul0 li:hover span a, #s5_fm_ul0 li.over span a {
	color:#FFFFFF;}
	
	#s5_navv ul li:hover ul li span span a, #s5_navv ul li.over ul li span span a{
	color:#000000;}
	
		#s5_navv ul li ul li:hover ul li span span a, #s5_navv ul li ul li.over ul li span span a{
			color:#000000;}
				
				#s5_navv ul li ul li ul li:hover ul li span span a, #s5_navv ul li ul li ul li.over ul li span span a{
					color:#000000;}
	
		#s5_navv ul li ul li:hover span span a, #s5_navv ul li ul li.over span span a{
			color:#FFFFFF;}
	
			#s5_navv ul li ul li ul li:hover span span a, #s5_navv ul li ul li ul li.over span span a{
				color:#FFFFFF;}
				
				#s5_navv ul li ul li ul li ul li:hover span span a, #s5_navv ul li ul li ul li ul li.over span span a{
					color:#FFFFFF;}




#s5_navv ul li.active a {
	background:transparent url(../images/s5_cityportal_leftactive.jpg) no-repeat scroll left 1pt;
    color:#FFFFFF;}

#s5_navv ul li a:hover, #s5_navv ul li a.over {
	background:transparent url(../images/s5_cityportal_leftactive.jpg) no-repeat scroll left 1pt;
    color:#FFFFFF;}

	#s5_navv ul li li a:hover, #s5_navv ul li li a.over {
		background:none;
	    color:#000000;}
		
#s5_navv li.active span, #s5_fm_ul0 li.active span.s5_outer_active {
background:transparent url(../images/s5_cityportal_rightactive.jpg) no-repeat scroll right 10pt;
}

#s5_navv span.s5_outer_active span, #s5_fm_ul0 span.s5_outer_active span {
background:transparent url(../images/s5_cityportal_rightactive.jpg) no-repeat scroll right 10pt;
}

.s5_outer, .s5_outer_active {
	display:block;
	float:left;}

#s5_navv ul li.s5_toparrow, #s5_navv ul li.s5_toparrow:hover, #s5_navv ul li.s5_toparrow {
	height:15px;
	margin-top:-7px;
	background:transparent url(../images/s5_cityportal_menutop.jpg) no-repeat scroll 0pt 0;}

	
#s5_navv ul li ul li a:hover, #s5_navv ul li ul li:hover, #s5_navv ul li ul li a.over, #s5_navv ul li ul li.over {
	 background:#FFFFFF url(../images/s5_cityportal_backhover.jpg) repeat-x;
	 width:194px;
	 color:#FFFFFF;}

/* Rounded menu bottoms */

#s5_navv ul li.s5_menubottom, #s5_fm_ul0 ul li.s5_menubottom, #s5_navv ul li.s5_menubottom:hover, #s5_fm_ul0 ul li.s5_menubottom:hover {
	background:transparent url(../images/s5_cityportal_menubottom.png) no-repeat scroll 0 0;
	height:30px;
	line-height:25px;
	width:194px;
	z-index:49;}



#s5_navv ul li ul li.active a {
	background:none;}
	
#s5_navv ul li.active ul li a {
	background:none;}